<h2>Update Category</h2>
  <p>Update as required, and click "Save changes" when finished.</p>


<form action="/categories/<%= @category.id%>" method ="POST" >
  <label for "iBox">Order number (office use only)</label>
  <input id="idBox", type="text", name = "id", value="<%=@category.id%>" readonly />

  <label for="nameBox" >Name: </label>
  <input id = "nameBox", type = "text" name = "name" value="<%=@category.name%>"/>
  <label for="budgetBox" >Budget: </label>
  <input id = "budgetBox" type = "text" name = "budget" value="<%=@category.budget%>"/>
  

  <input type = "submit" value="Save changes"/>

</form>


