<div class = "displayWrapper">
  <div class = "displayHeader categoryPale">
    <h1>Update as required, then click "Save changes"</h1>
  </div>
</div> 

<div class = "displayContent">
  <div class = "displayFormDiv categoryPale">
    <form action="/categories/<%= @category.id%>" method ="POST" >
      <input id="idBox", type="text", name = "id", value="<%=@category.id%>" hidden />
      <div class = "displayFormRow">
        <label for="nameBox" >Name: </label>
        <input id = "nameBox", type = "text" name = "name" value="<%=@category.name%>"/>
      </div>
      <div class = "displayFormRow">
        <label for="budgetBox" >Budget: </label>
        <input id = "budgetBox" type = "text" name = "budget" value="<%=@category.budget%>"/>
      </div>
      <div class = "displayFormRow">
        <input type = "submit" value="Save changes"/>
      </div>
    </form>
  </div> <!-- displayFormDiv -->
</div> <!-- displayContent -->

