<h1>Input new category details</h1>

<form action="/categories" method="post">

  <label for = "nameBox">Name</label>
  <input id = "nameBox" type = "text" name = "name"/>

  <label for = "budgetBox">Annual budget</label>
  <input id = "budgetBox" type = "number" name = "budget" step = "1"/>

  <input type='submit' value="Save category">
</form>