<h1>Input new transaction details</h1>

<form action="/transactions" method="post">

  <label for = "dateBox">Date (YYYY-MM-DD)</label>
  <input id = "dateBox" type = "date" name = "transaction_date"/>

  <label for = "payeeBox">Payee</label>
  <input id = "payeeBox" type = "text" name = "payee"/>

  <label for = "amountBox">amount</label>
  <input id = "amountBox" type = "number" name = "amount" step = "0.01"/>

  <label for = "categorySelect">Select a category:</label>
      <select id = "categorySelect" name="category_id">
        <% for category in @categories %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
    
    <input type='submit' value="Save transaction">
</form>