<div class = "displayWrapper">
  <div class = "displayHeader">
  <h1>Welcome to Nick's budget app<br/>
      Today is <%= @current_day %>-<%= @current_month %>-<%= @current_year %><br/>
      <%=@report_text%></h1>
  </div>
</div>
